/*-----------------------------------*\
  #RUSED STYLE
\*-----------------------------------*/
.container { padding-inline: 15px;} /*espacio a los costados*/

.btn {
  background-color: var(--bg-color, var(--emerald));
  color: var(--color, var(--white));
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: var(--fs-, var(--fs-7));
  font-weight: var(--fw, var(--fw-500));
  padding: var(--padding, 15px 20px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn ion-icon { font-size: 1.6rem;}

.btn-primary:is(:hover, :focus) { --bg-color: var(--green-pigment)}

.section { padding-block: var(--section-padding);}

.h2 {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  color: var(--russian-violet);
}

.h3 {
  font-family: var(--ff-playfair-display);
  font-size: var(--fs-4);
}

.w-100 { width: 100%;}

/*ofertas*/
.has-scrollbar {
  display: flex;
  overflow-x: auto;
  padding-block-end: 30px;
  margin-block-end: -30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {height: 10px;}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb { background-color: var(--black_25);}

/*product subtitle*/
.section-subtitle {
  color: var(--emerald);
  font-family: var(--ff-playfair-display);
  font-size: var(--fs-3);
  font-style: italic;
  margin-block-end: 10px;
}

.section-subtitle,
.section-title { text-align: center;}