/*-----------------------------------*\
  #RUSED STYLE
\*-----------------------------------*/
.container { padding-inline: 15px;} /*espacio a los costados*/

.btn {
  background-color: var(--bg-color, var(--emerald));
  color: var(--color, var(--white));
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  font-size: var(--fs-, var(--fs-7));
  font-weight: var(--fw, var(--fw-500));
  padding: var(--padding, 15px 20px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn ion-icon { font-size: 1.6rem;}

.btn-primary:is(:hover, :focus) { --bg-color: var(--green-pigment)}

.section { padding-block: var(--section-padding);}

.h2 {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  color: var(--russian-violet);
}

.h3 {
  font-family: var(--ff-playfair-display);
  font-size: var(--fs-4);
}

.w-100 { width: 100%;}

/*ofertas*/
.has-scrollbar {
  display: flex;
  overflow-x: auto;
  padding-block-end: 30px;
  margin-block-end: -30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {height: 10px;}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb { background-color: var(--black_25);}

/*product subtitle*/
.section-subtitle {
  color: var(--emerald);
  font-family: var(--ff-playfair-display);
  font-size: var(--fs-3);
  font-style: italic;
  margin-block-end: 10px;
}

.section-subtitle,
.section-title { text-align: center;}

.grid-list {
  display: grid;
  gap: 30px;
}

.rating-wrapper {
  color: var(--yellow-orange);
  display: flex;
  justify-content: var(--justify-conte, center);
  gap: 2px;
  font-size: 1.4rem;
}

.product-card {
  background-color: var(--mint-cream);
  padding: 30px 20px;
  text-align: center;
  outline: 2px solid transparent;
  transition: var(--transition-2);
}

.product-card:is(:hover, :focus) {outline-color: var(--emerald);}

.product-card .card-banner {
  position: relative;
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 20px;
}

.product-card .card-banner img {transition: var(--transition-2);}

.product-card .btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-card .product-btn {
  position: relative;
  background-color: var(--emerald);
  font-size: var(--fs, 2rem);
  color: var(--white);
  padding: var(--padding, 12px);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition-2);
}

.product-card .product-btn ion-icon { --ionicon-stroke-width: 50px}

.tooltip {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black_90);
  border-radius: var(--radius-4);
  font-size: var(--fs-7);
  min-width: max-content;
  padding: 4px 12px;
  pointer-events: none;
  opacity: var(--opacity, 0);
  transition: var(--transition-2);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 5px solid transparent;
  border-bottom-color: var(--black_90);
  border-right-color: var(--black_90);
}

.product-card:is(:hover, :focus-within) .product-btn {opacity: 1;}

.product-card .product-btn:is(:hover, :focus) {background-color: var(--gunmetal-2);}

.product-card .product-btn:is(:hover, :focus) .tooltip { --opacity:1;}

.product-card .rating-wrapper { margin-block-end: 10px;}

.product-card .card-title {
  color: var(--russian-violet);
  font-size: var(--fs-4);
  font-weight: var(--fw-500);
  margin-block-end: 10px;
}

.product-card .card-title > a {transition: var(--transition-2);}

.product-card .card-title > a:is(:hover, :focus) { color: var(--emerald);}

.product-card .price-wrapper {
  font-size: var(--fs-6);
  margin-block-end: 15px;
}

.product-card .price-wrapper .del { color: var(--battleship-gray);}

.product-card .price-wrapper .price {
  color: var(--emerald);
  margin-inline-start: 5px;
}

.product-card .btn {
  margin-inline: auto;
  --padding: 12px 18px;
}